_data/kaggle_house/sample_submission.csv
_data/dacon_growth/sample_submission.zip
_data/dacon_growth/sample_submission/TEST_01.csv
_data/dacon_growth/sample_submission/TEST_02.csv
_data/dacon_growth/sample_submission/TEST_03.csv
_data/dacon_growth/sample_submission/TEST_04.csv
_data/dacon_growth/sample_submission/TEST_05.csv
_data/dacon_growth/sample_submission/TEST_06.csv
_data/dacon_growth/test_input/TEST_01.csv
_data/dacon_growth/test_input/TEST_02.csv
_data/dacon_growth/test_input/TEST_03.csv
_data/dacon_growth/test_input/TEST_04.csv
_data/dacon_growth/test_input/TEST_05.csv
_data/dacon_growth/test_input/TEST_06.csv
_data/dacon_growth/test_target/TEST_01.csv
_data/dacon_growth/test_target/TEST_02.csv
_data/dacon_growth/test_target/TEST_03.csv
_data/dacon_growth/test_target/TEST_04.csv
_data/dacon_growth/test_target/TEST_05.csv
_data/dacon_growth/test_target/TEST_06.csv
_data/dacon_growth/train_input/CASE_01.csv
_data/dacon_growth/train_input/CASE_02.csv
_data/dacon_growth/train_input/CASE_03.csv
_data/dacon_growth/train_input/CASE_04.csv
_data/dacon_growth/train_input/CASE_05.csv
_data/dacon_growth/train_input/CASE_06.csv
_data/dacon_growth/train_input/CASE_07.csv
_data/dacon_growth/train_input/CASE_08.csv
_data/dacon_growth/train_input/CASE_09.csv
_data/dacon_growth/train_input/CASE_10.csv
_data/dacon_growth/train_input/CASE_11.csv
_data/dacon_growth/train_input/CASE_12.csv
_data/dacon_growth/train_input/CASE_13.csv
_data/dacon_growth/train_input/CASE_14.csv
_data/dacon_growth/train_input/CASE_15.csv
_data/dacon_growth/train_input/CASE_16.csv
_data/dacon_growth/train_input/CASE_17.csv
_data/dacon_growth/train_input/CASE_18.csv
_data/dacon_growth/train_input/CASE_19.csv
_data/dacon_growth/train_input/CASE_20.csv
_data/dacon_growth/train_input/CASE_21.csv
_data/dacon_growth/train_input/CASE_22.csv
_data/dacon_growth/train_input/CASE_23.csv
_data/dacon_growth/train_input/CASE_24.csv
_data/dacon_growth/train_input/CASE_25.csv
_data/dacon_growth/train_input/CASE_26.csv
_data/dacon_growth/train_input/CASE_27.csv
_data/dacon_growth/train_input/CASE_28.csv
_data/dacon_growth/train_input/CASE_29.csv
_data/dacon_growth/train_input/CASE_30.csv
_data/dacon_growth/train_input/CASE_31.csv
_data/dacon_growth/train_input/CASE_32.csv
_data/dacon_growth/train_input/CASE_33.csv
_data/dacon_growth/train_input/CASE_34.csv
_data/dacon_growth/train_input/CASE_35.csv
_data/dacon_growth/train_input/CASE_36.csv
_data/dacon_growth/train_input/CASE_37.csv
_data/dacon_growth/train_input/CASE_38.csv
_data/dacon_growth/train_input/CASE_39.csv
_data/dacon_growth/train_input/CASE_40.csv
_data/dacon_growth/train_input/CASE_41.csv
_data/dacon_growth/train_input/CASE_42.csv
_data/dacon_growth/train_input/CASE_43.csv
_data/dacon_growth/train_input/CASE_44.csv
_data/dacon_growth/train_input/CASE_45.csv
_data/dacon_growth/train_input/CASE_46.csv
_data/dacon_growth/train_input/CASE_47.csv
_data/dacon_growth/train_input/CASE_48.csv
_data/dacon_growth/train_input/CASE_49.csv
_data/dacon_growth/train_input/CASE_50.csv
_data/dacon_growth/train_input/CASE_51.csv
_data/dacon_growth/train_input/CASE_52.csv
_data/dacon_growth/train_input/CASE_53.csv
_data/dacon_growth/train_input/CASE_54.csv
_data/dacon_growth/train_input/CASE_55.csv
_data/dacon_growth/train_input/CASE_56.csv
_data/dacon_growth/train_input/CASE_57.csv
_data/dacon_growth/train_input/CASE_58.csv
_data/dacon_growth/train_target/CASE_01.csv
_data/dacon_growth/train_target/CASE_02.csv
_data/dacon_growth/train_target/CASE_03.csv
_data/dacon_growth/train_target/CASE_04.csv
_data/dacon_growth/train_target/CASE_05.csv
_data/dacon_growth/train_target/CASE_06.csv
_data/dacon_growth/train_target/CASE_07.csv
_data/dacon_growth/train_target/CASE_08.csv
_data/dacon_growth/train_target/CASE_09.csv
_data/dacon_growth/train_target/CASE_10.csv
_data/dacon_growth/train_target/CASE_11.csv
_data/dacon_growth/train_target/CASE_12.csv
_data/dacon_growth/train_target/CASE_13.csv
_data/dacon_growth/train_target/CASE_14.csv
_data/dacon_growth/train_target/CASE_15.csv
_data/dacon_growth/train_target/CASE_16.csv
_data/dacon_growth/train_target/CASE_17.csv
_data/dacon_growth/train_target/CASE_18.csv
_data/dacon_growth/train_target/CASE_19.csv
_data/dacon_growth/train_target/CASE_20.csv
_data/dacon_growth/train_target/CASE_21.csv
_data/dacon_growth/train_target/CASE_22.csv
_data/dacon_growth/train_target/CASE_23.csv
_data/dacon_growth/train_target/CASE_24.csv
_data/dacon_growth/train_target/CASE_25.csv
_data/dacon_growth/train_target/CASE_26.csv
_data/dacon_growth/train_target/CASE_27.csv
_data/dacon_growth/train_target/CASE_28.csv
_data/dacon_growth/train_target/CASE_29.csv
_data/dacon_growth/train_target/CASE_30.csv
_data/dacon_growth/train_target/CASE_31.csv
_data/dacon_growth/train_target/CASE_32.csv
_data/dacon_growth/train_target/CASE_33.csv
_data/dacon_growth/train_target/CASE_34.csv
_data/dacon_growth/train_target/CASE_35.csv
_data/dacon_growth/train_target/CASE_36.csv
_data/dacon_growth/train_target/CASE_37.csv
_data/dacon_growth/train_target/CASE_38.csv
_data/dacon_growth/train_target/CASE_39.csv
_data/dacon_growth/train_target/CASE_40.csv
_data/dacon_growth/train_target/CASE_41.csv
_data/dacon_growth/train_target/CASE_42.csv
_data/dacon_growth/train_target/CASE_43.csv
_data/dacon_growth/train_target/CASE_44.csv
_data/dacon_growth/train_target/CASE_45.csv
_data/dacon_growth/train_target/CASE_46.csv
_data/dacon_growth/train_target/CASE_47.csv
_data/dacon_growth/train_target/CASE_48.csv
_data/dacon_growth/train_target/CASE_49.csv
_data/dacon_growth/train_target/CASE_50.csv
_data/dacon_growth/train_target/CASE_51.csv
_data/dacon_growth/train_target/CASE_52.csv
_data/dacon_growth/train_target/CASE_53.csv
_data/dacon_growth/train_target/CASE_54.csv
_data/dacon_growth/train_target/CASE_55.csv
_data/dacon_growth/train_target/CASE_56.csv
_data/dacon_growth/train_target/CASE_57.csv
_data/dacon_growth/train_target/CASE_58.csv
_data/